<div class="container ">
    <h3 class="mt-10 mb-4">{{.Params.slidingDoorsHead}}</h3>
    <h5>{{.Params.slidingDoorsHead1}}</h5>
    <p class="mt-4  text-justify">{{.Params.slidingPara}}</p>
       <div class=" mt-4"><a href="/contact/">Request Quote..</a></div>
       <div class="mt-5 flex flex-col justify-center">
        <div class="relative bg-cover place-items-center my-6 ">
            <img src="/images/sec-doors/sliding-door/TENTUFF-Sliding-Door-Slidpg.jpg"
                class="foto w-3/4 h-full object-cover shadow-md p-4"
                alt="description" />
        </div>
        
        
</div>
</div>
<div class=" bg-custom-nav">
<div class="container">
<div class="mt-8 flex w-full h-full justify-center">
        <iframe class="relative " id="video"
          src="https://www.youtube.com/embed/8NQpk9ajHcs?enablejsapi=1&amp;rel=0"  width="646px"
          height="315" frameborder="0"></iframe>
        </div>
    </div>
</div>
<div class="bg-cutom-light-white py-4 object-center ">
    <div class="container">
    <h5 class="text-center md:pb-6 sm:py-4 ">{{.Params.slidingDoorsHead1}}</h5>
<div class=" flex lg:flex-row sm:flex-col justify-center gap-4 sm:ml-10 md:ml-0 lg:ml-0" >
    
    <img src="/images/Sliding-Security-Door-Main-Tentuff-LR.jpg"
        class="foto object-cover pb-4" style="width:307px"
        alt="description" />
    
    
        <img alt="TENTUFF Hinged Security Door Animation"class=""
    src="/images/Sliding-Door-1.gif" style="width:307px" >

</div>
</div>
</div>